

<main class="container">

  <h1>Monsters</h1>

  <ul class="row">

    <% dragons.forEach((dragon) => { %>
      <li class="col-md-6 col-lg-4">
        <img src="<%= dragon.image %>" alt="Waiting for image">
        <h3><a href="/dragons/<%= dragon.id %>"><%= dragon.name %></a></h3>
        <h4><%= dragon.colour %></h4>
        <p><%= dragon.size %></p>
      </li>
      <% }); %>
  </ul>



</main>
