
<h1>Index</h1>
<ul>
  <% dragons.forEach((dragon) => { %>
    <li>
    <h3><a href="/dragons/<%= dragon.id %>"><%= dragon.name %></a></h3>
    <h4><%= dragon.colour %></h4>
    <p><%= dragon.size %></p>
    <p><%= dragon.createdBy %></p>
    </li>
    <% }); %>
</ul>
